* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  background-color: #232323;
  height: 100%;
  width: 100vw;
  place-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
  color: aliceblue;
}

.game-board {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  border: 15px double aliceblue;
  border-radius: 10px;
  padding: 15px;
  background-image: linear-gradient(
    180deg, #1d7e53, rgba(0, 0, 0, 0.8)
  );
  font-size: 1.5rem;
  gap: 20px;
  width: 100vw;
  height: max-content;
}

h3 {
  color: aliceblue;
  margin-bottom: 10px;
}

.hands {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 150px;
  z-index: 1;
}

.hand {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}



.cards-container {
  display: flex;
  
  flex-direction: row;
  gap: 10px;
}

.cards {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px double #0011ff;
  border-radius: 8%;
  padding: 20px;
  margin: 0px;
  margin-top: 10px;
  max-height: 160px;
  height: 160px;
  max-width: 110px;
  width: 110px;
  background-color: aliceblue;
  color: black;
}

.betting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 2rem;
  border: 8px double aliceblue;
  border-radius: 10px;
  padding: 15px;
  
}

.token {
  display: flex;
  font-weight: 600;
  font-size: 1.6rem;
  background-color: #8eff51;
  border-radius: 50%;
  padding: 8px;
  height: 70px;
  width: 70px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 6px dotted black;
  transition: .1s ease;
}

.token:hover, .tokenNoBet:hover {
  background-color: #62c22f;
  cursor: pointer;
  transform: scale(1.05);
}

.tokenNoBet {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 1.4rem;
  max-width: 70px;
  background-color: #8eff51;
  transition: .1s ease;
}

.instructions {
  display: inline-block;
  position: relative;
  bottom: 265px;
  left: 16vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  font-size: 1.5rem;
  padding: 2px;
  border: 5px double aliceblue;
  border-radius: 8px;
  width: 220px;
  max-height: 100px;
}

.actions-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: fit-content;
  padding: 0px;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.result { 
  display: flex;
  position: fixed;
  max-width: 250px;
  left: 70px;
  top: 240px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: radial-gradient(#2baa145d,
    #0000004e);
  color: aliceblue;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: underline;
  border: 5px double aliceblue;
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
}

.hand-value {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border: 5px double aliceblue;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
}

.hitStandBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  font-size: 1.5rem;
  width: 100px;
  border: 5px double aliceblue;
  border-radius: 10px;
  background-color: aliceblue;
  color: black;
  transition: .3s ease;
  padding: 10px 20px;
  cursor: pointer;
}

.disabledBtn {
  background-color: rgb(84, 80, 80); /* Color when bet is not placed */
}

.newGameBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  margin-top: 15px;
  font-size: 1.4rem;
  border: 5px double aliceblue;
  border-radius: 10px;
  background-color: aliceblue;
  color: black;
  transition: .3s ease;
  padding: 10px 20px;
  cursor: pointer;
}

.newGameBtn:hover {
  background-color: rgb(181, 188, 195);
}

@media (max-width: 600px) {
  body {
    width: 90dvw;
    height: 90vh;
  }
  .game-board {
    display: flex;
    width: 100dvw;
    height: 100vh;
  }
  .hands {
    display: flex;
    position: fixed;
    left: 0;
    right: 210px;
    gap: 20px;
  }
  .hand {
    display: flex;
    font-size: 0.7rem;
    margin-left: 0px;
    margin-top: 10px;
    gap: 10px;
  }
  .hand-value {
    display: flex;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .cards-container {
    display: flex;
  }
  .cards {
    display: flex;
    width: 50px;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .actions-result {
    display: flex;
    position: fixed;
    right: 30px;
    flex-direction: column;
    font-size: 0.8rem;
    
  }
  .actions {
    display: flex;
    position: fixed;
    flex-direction: column;
    font-size: 0.5rem;
    gap: 10px;
    left: 8vw;
  }
  .hitStandBtn, .newGameBtn {
    display: flex;
    font-size: 0.8rem;
    padding: 3px;
    margin: 0px;
    gap: 10px;
    width: 50px;
    height: 50px;
    font-weight: 600;
  }
  .result {
    display: flex;
    position: fixed;
    background-image: radial-gradient(#26ff005d, #ffffff86);
    color: #232323;
    left: 10vw;
    top: 33vh;
    flex-direction: column;
    font-size: 0.8rem;
    gap: 10px;
    max-width: 50px;
    padding: 5px;
    margin: 0;
    z-index: 1;
  }
  .newGame {
    display: flex;
    position: fixed;
    left: 10vw;
    flex-direction: column;
    font-size: 0.5rem;
    gap: 10px;
    max-width: 50px;
    padding: 5px;
    margin: 0;
  }
  .betting {
    display: flex;
    position: fixed;
    left: 240px;
    flex-direction: column;
    font-size: 1rem;
    padding: 5px;
    margin-right: 120px;
    max-height: 300px;
    max-width: 80px;
    border: 3px double aliceblue;
    z-index: 1;
  }
  .token {
    display: grid;
    position: static;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    max-height: 40px;
    max-width: 40px;
    border: 3px dotted black;
  }
  .tokenNoBet {
    display: grid;
    position: static;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    max-height: 50px;
    max-width: 80px;
  }
  .instructions {
    display: flex;
    position: relative;
    bottom: 180px;
    left: 120px;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    font-size: 0.8rem;
    padding: 3px;
    max-width: 60px;
    border: 5px double aliceblue;
    border-radius: 8px;
    color: aliceblue;
  }
}